presentation-handout.tex
presentation169.tex
*.pdf
*.jpeg
*.jpg
konzept*
*.aux
*.bak
*.log
*.lof
*.lol
*.lot
*.acn
*.out
*.toc
*.nav
*.snm
*.vrb
*.ilg
*.pla
*.syn
*.ind
*.backup
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb*
*.swp
*.glsdefs
*.dvi
